$primary-color: #C75E90;
$secondary-color: #8E345F;
$background-color-dark: #1D1D1D;
$background-section-dark: #161616;
$background-color-light: #fbf5f8;
$background-section-light: #ffffff;
$text-color-dark: #FFFFFF;
$text-color-dark: #232323;
$accent-color: #696969;
$font-primary: 'Poppins', sans-serif;
$border-radius: 40px;
$padding-standard: 20px;
$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 20px;
$transition-standard: all 0.3s ease;