.carousel {
  margin-top: 65px;
  margin-bottom: 70px;


  &__wrapper {
    display: flex;
    gap: 20px;
  }

  &__swiper {
    overflow: visible;
  }

  &__item {
    position: relative;
    width: 223px;
    flex-shrink: 0;

    &.swiper-slide {
      border-radius: 20px;
      overflow: visible !important;
    }
  }

  &__image {
    width: 100%;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    height: 100%;
    object-fit: cover;
    border-radius: 20%;
    box-shadow: none;
    text-shadow: none;
  }

  &__icon {
    position: absolute;
    bottom: -5%;
    right: 10%;
    width: 70px;
    height: 70px;
    overflow: visible;
    z-index: 2;
  }
}

@media screen and (max-width: 1200px) {
  .carousel {
    display: flex;
    align-items: center;
    height: 400px;
    width: auto;

    &__swiper {
      width: 400px;
      height: auto;
      padding: 20px 0;
      margin: 0;
    }
  }
}

@media screen and (max-width: 1025px) {
  .carousel {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 1025px) {
  .carousel__item {
    position: relative;
    width: 223px !important;
    flex-shrink: 0;
    transform: none !important;
  }
}


@media screen and (max-width: 768px) {
  .carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;

    &__swiper {
      width: 400px;
      height: auto;
      padding: 20px 0;
      margin: auto;
    }
  }
}

@media screen and (max-width: 480px) {

  .carousel__swiper {
    width: 240px;
    height: 320px;
    padding: 20px 0;
    margin: auto;
  }
}