:root {
  --primary-color: #C75E90;
  --secondary-color: #8E345F;
  --background-color-dark: #1D1D1D;
  --background-section-dark: #161616;
  --background-color-light: #fbf5f8;
  --background-section-light: #ffffff;
  --text-color-dark: #FFFFFF;
  --text-color-light: #232323;
  --accent-color: #696969;
  --font-primary: 'Poppins', sans-serif;
  --border-radius: 40px;
  --padding-standard: 20px;
  --font-size-small: 14px;
  --font-size-medium: 16px;
  --font-size-large: 20px;
  --transition-standard: all 0.3s ease;
}

.swiper-3d .swiper-slide-shadow {
  background: none !important;
}


.light-theme {
  --background-color: var(--background-color-light);
  --background-section-color: var(--background-section-light);
  --text-color: var(--text-color-light);
  --border-color: #b7b7b7;
  --contact-bar-color: #232323;
  --contact-bar-location-icon-color: var(--primary-color);
  --contact-bar-icons-color: var(--text-color-light);
  --contact-bar-background: #C75E90;
}

.dark-theme {
  --background-color: var(--background-color-dark);
  --background-section-color: var(--background-section-dark);
  --text-color: var(--text-color-dark);
  --border-color: #fff;
  --contact-bar-color: #C75E90;
  --contact-bar-location-icon-color: var(--secondary-color);
  --contact-bar-icons-color: var(--primary-color);
  --contact-bar-background: #8E345F;
}


body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-primary);
  background-color: var(--background-color);
  line-height: 1.6;
  justify-content: center;
  transition: background-color 0.6s ease, color 0.6s ease;
}

a {
  text-decoration: none;
}

body.loaded {
  opacity: 1;
}

body.hidden {
  visibility: hidden;

}

body.dark-theme, body.light-theme {
  font-family: var(--font-primary);
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
  justify-content: center;
}

.copyright-section {
  margin-top: 140px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color);
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.landing-page {
  width: 1440px;
  margin: 0 auto;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

@media screen and (max-width: 1440px) {
  .landing-page {
    max-width: 100%;
    overflow-x: hidden;
  }
}

.darkCircle {
  background-color: #1D1D1D;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: circle(0% at 50% 0%);
  transition: clip-path 0.8s ease-in-out;
  z-index: -1;
}

.lightCircle {
  background-color: #fbf5f8;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: circle(0% at 50% 0%);
  transition: clip-path 0.8s ease-in-out;
  z-index: -1;
}

.darkCircle.grow,
.lightCircle.grow {
  animation-name: circle-grow;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
}

@keyframes circle-grow {
  0% {
    clip-path: circle(0% at 50% 0%);
  }
  100% {
    clip-path: circle(100% at 50% 0%);
  }
}

#error-email {
  display: none;
  color: white;
  background-color: #db5f5f;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 14px;
  width: 100%;
  text-align: center;
}

.success-message {
  display: none;
  color: white;
  background-color: rgba(0, 128, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  font-size: 14px;
  width: 100%;
  text-align: center;
}

