.hero {
    background-color: var(--background-section-color);
    border-radius: 0px 0px 60px 60px;
    padding: 80px 40px;
    display: flex;
    transition: background-color 0.3s ease, color 0.3s ease;


    &__content {
        flex: 1;
    }

    &__subtitle {
        color: var(--accent-color);
        font-size: var(--font-size-small);
        font-weight: 700;
        letter-spacing: 5.04px;
        text-transform: uppercase;
        margin-bottom: var(--padding-standard);
        transition:  color 0.3s ease;
    }

    &__title {
        font-size: 46px;
        color: var(--text-color);
        font-weight: 700;
        margin-bottom: 28px;
        transition:  color 0.3s ease;
    }

    &__description {
        max-width: 529px;
        color: var(--text-color);
        font-weight: 400;
        margin-bottom: 54px;
        transition:  color 0.3s ease;
    }

    &__cta {
        background-color: var(--primary-color);
        color: #fff;
        border: none;
        display: flex;
        border-radius: 220px;
        padding: 12px 29px;
        font-size: var(--font-size-small);
        font-weight: 700;
        cursor: pointer;
        transition: var(--transition-standard);
        margin-bottom: 120px;
      max-width: 203px;
      max-height: 45px;

        &:hover,
        &:focus {
            background-color: var(--secondary-color);
        }
    }

    &__watch-now-container {
        position: relative;
        display: flex;
        width: 337px;
        height: 122px;
        cursor: pointer;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    &__watch-now-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    &__watch-now-text {
        position: absolute;
        top: 60%;
        left: 35%;
        transform: translate(-50%, -50%);
        color: white;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    &__watch-now-label {
        width: 140px;
        letter-spacing: 0.36em;
        color: #fff;
        font-size: 12px;
        font-weight: bold;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    &__introducing {
        font-weight: bold;
        font-size: 16px;
        color: #fff;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    &__play-icon {
        position: absolute;
        top: 50%;
        right: -8%;
        transform: translateY(-50%);
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    &__play-button {
        background: #c75e90;
        border-radius: 50%;
        width: 52px;
        height: 52px;
        transition: background-color 0.3s ease, color 0.3s ease;

        &:hover, &:focus {
            background-color: var(--secondary-color);
        };
    }

    &__image {
        flex: 1;
        background-size: cover;
        background-position: center;
        border-radius: var(--border-radius);
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    &__image-header {
        width: auto;
        max-width: 100%;
        height: auto;
        object-fit: contain;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    @media screen and (max-width: 1440px) {
        padding: 20px;
        text-align: center;

        &__description {
            width: auto;
        }

        &__image {
            width: 100%;
            height: auto;
            margin-top: 30px;
        }
    }



    @media screen and (max-width: 768px) {
        padding: 20px;
        flex-direction: column;
        text-align: center;
        &__content{
            margin: auto;
        }
        &__description {
            width: auto;
            margin: auto;
        }

        &__image {
            width: 100%;
            height: auto;
            margin-top: 30px;
        }
        &__cta{
            margin-top: 55px ;
        }
    }

    @media screen and (max-width: 480px) {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20px;
        &__watch-now-container{
            width: 100%;
        }
        &__content {
            width: 100%;
            padding: 0 20px;
        }

        &__description {
            width: auto;
        }

        &__cta {
            padding: 12px 24px;
            font-size: var(--font-size-small);
        }

        &__image {
            display: flex;
            justify-content: center;
            width: 100%;
            height: auto;
            margin-top: 30px;

            picture {
                display: flex;
                justify-content: center;
                width: 100%;
            }
        }
    }
}
