.rooms {
  display: flex;
  padding: 80px 0;
  border-radius: 40px;
  gap: 93px;

  &__content {
    flex: 1;
    min-width: 300px;
  }

  &__image {
    flex: 1;
    background-size: cover;
    background-position: center;
    border-radius: $border-radius;
    max-height: 571px;
  }

  &__container {
    margin-bottom: 20px;
  }

  &__divider {
    margin: 20px 0;
    border: 2px rgba(127.5, 127.5, 127.5, 0.13) solid;
  }

  &__title {
    font-size: 46px;
    font-weight: 700;
    margin-bottom: 28px;
  }

  &__subtitle {
    color: $accent-color;
    font-size: $font-size-small;
    font-weight: 700;
    letter-spacing: 5.04px;
    text-transform: uppercase;
    margin-bottom: $padding-standard;
  }

  @media (max-width: 1200px) {
    flex-direction: column;
    padding: 20px;
    &__title,
    &__subtitle {
      justify-content: center;
      display: flex;
    }
  }

  @media (max-width: 768px) {
    padding: 20px;
    text-align: center;

    &__image {
      width: 100%;
      height: auto;
      margin-top: 30px;
    }
  }

  @media screen and (max-width: 480px) {
    padding: 20px;
    text-align: center;
    width: auto;
    height: auto;

    &__content {
      margin-left: 0;
    }

    &__title {
      text-align: center;
    }
  }
}

.room {
  display: flex;
  align-items: center;
  gap: 36px;
  cursor: pointer;


  &__icon {
    flex-shrink: 0;
    border-radius: 100%;
  }

  &__icon-toggle {
    transition: all 0.3s ease;
    &:hover {
      background-color: $secondary-color;
      border-radius: 50%;
    }

  }

  &__icon-path {
    transition: all 0.3s ease;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__description {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 400;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 100%;
    white-space: normal;
    word-break: normal;
    margin-left: 76px;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    padding-top: 0;
    padding-bottom: 0;
    text-align: start;

    &.active {
      max-height: 500px;
      opacity: 1;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}
